<h1> Franchise </h1>
<%= render partial: "applicants", locals: { option: "franchise" } %>

<h1> Clerks </h1>
<%= render partial: "applicants", locals: { option: "clerk" } %>

<h1> Delivery Boys </h1>
<%= render partial: "applicants", locals: { option: "deliveryBoy" } %>

<h1> Cleaners </h1>
<%= render partial: "applicants", locals: { option: "cleaner" } %>
