.profile-content{
  width: 40%;
  margin: 40px auto 0;
  padding: 30px 30px;
  font-size: 20px;
  color: #640819;
  /* letter-spacing: 0.5px; */
  display: grid;
  grid-row-gap: 10px;
  /* border: 1px solid red; */
}

.profile-flex{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.profile-role{
  color: #3f3f44;
  font-weight: 600;
  font-size: 22px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.profile-address{
  width: 65%;
  line-height: 1.5;
  margin: 6px 0;
}

.profile-form{
  margin: 30px 0 20px;
}
